[submodule "libs/jsoncpp"]
	path = libs/jsoncpp
	url = https://github.com/gelldur/jsoncpp.git
[submodule "libs/poco"]
	path = libs/poco
	url = https://github.com/pocoproject/poco.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
